:root {
  /* COLOR */

  --clr-primary: hsl(47, 88%, 63%);

  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-grey: hsl(0, 0%, 50%);
  --clr-neutral-black: hsl(0, 0%, 7%);

  /* FONT */

  --para-font-size: 16px;
  --fnt-family: "Figtree", sans-serif;
  --fnt-weight-500: 500;
  --fnt-weight-800: 800;

  /* radius */
  --radius: 1.5rem;

  /* margin */
  --margin-bottom-val: 0.6rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-primary);
  font-family: var(--fnt-family);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.blog-card-main {
  border: solid 2px var(--clr-neutral-black);
  border-radius: var(--radius);
  background-color: var(--clr-neutral-white);
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin: auto 2rem;
  box-shadow: 5px 5px 0px 3px black;
}
.card-img {
  max-width: 100%;
  padding: 1rem;
  border-radius: var(--radius);
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1rem;
}
.blog-type {
  background-color: var(--clr-primary);
  font-family: var(--fnt-family);
  border-radius: 5px;
  padding: 2px 10px;
  margin-bottom: var(--margin-bottom-val);
  gap: 5px;
  font-weight: bolder;
  font-size: 0.8rem;
}
.published-date {
  font-size: 10px;
  margin-bottom: var(--margin-bottom-val);
  color: var(--clr-neutral-black);
  font-weight: 500;
}
.title-blog {
  font-size: 1.2rem;
  font-weight: var(--fnt-weight-800);
  margin-bottom: var(--margin-bottom-val);
}
.blog-brief {
  font-size: 12px;
  padding: 5px 10px 5px 0px;
  margin: 0;
  text-align: justify;
  color: var(--clr-neutral-grey);
}
.writer {
  margin: 2rem 0 1.5rem 0;
  position: relative;
}
.name {
  font-size: 12px;
  font-weight: var(--fnt-weight-800);
  padding-left: 2rem;
}
.name::before {
  content: "";
  background-image: url(assets/images/image-avatar.webp);
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 400px) {
  .blog-card-main {
    width: 300px; 
  }
 
  .blog-brief{
     text-align: left;
     line-height: 1.1rem;
  }
}


