:root{
    --body-bg:#123;
    --nav-bg:#234;
}
*{
    box-sizing: border-box;
}
html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
   background-color: var(--body-bg);
   margin: 0px;
   font-size: 1.5rem;
   color: white;
   display: grid;
   grid-template-columns: 20rem 1fr;
   gap: 2rem;
   min-height: 200svh;
}
 nav{
  background-color: var(--nav-bg);
  height: 100%;
  position: sticky;
  top: 0;
  max-height: 100svh;
    
}   

.nav-list{
   list-style-type: none;
   padding: 0px;
   margin: 0px;
   display: grid;
   gap: 2rem;
   padding-block: 2rem; /*padding top and bottom */
   font-size: 2rem;
   margin-left: 2rem;
   
}

.nav-list li{
    padding: 1rem 2rem;
    border-radius: 50px 0 0 50px;
  
}

.nav-list li.active{
    background-color: var(--body-bg);
}

.nav-list a{
    color: #ffffff;
    text-decoration: none;
} 